* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.movie img{
    width: 200px;
    object-fit: cover;
    margin: auto;
}